In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV,KFold
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
data=pd.read_csv("Bank_Imbalance.csv")
data.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,1
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,1
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,1
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [ ]:
x=data.iloc[:,:7]
y=data.iloc[:,7]

In [ ]:
y.value_counts()

1    2396
0     603
Name: y, dtype: int64

In [ ]:
# class imbalance problem

In [ ]:
# the remedies are SMOTE and ADASYN

In [ ]:
from imblearn.over_sampling import SMOTE,ADASYN

In [ ]:
smt=SMOTE()

In [ ]:
x_sm,y_sm=smt.fit_resample(x,y)

In [ ]:
y_sm.value_counts()

1    2396
0    2396
Name: y, dtype: int64

In [ ]:
x.shape

(2999, 7)

In [ ]:
x_sm.shape

(4792, 7)

In [ ]:
ada=ADASYN()

In [ ]:
x_ad,y_ad=ada.fit_resample(x,y)

In [ ]:
y_ad.value_counts()

0    2404
1    2396
Name: y, dtype: int64

In [ ]:
#x_ad and y_ad can be used to train out particular model

In [ ]:
#hyper parameter optimization

In [ ]:
data=pd.read_csv("Boston.csv")
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
x=data.iloc[:,:12]
y=data.iloc[:,12]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
# grid search finds the particular parameter with a minimum cv error

In [ ]:
params={"n_neighbors":[1,2,3,4,5,6,7,8,9,10]}
model=KNeighborsRegressor()
cval=KFold(n_splits=10)

In [ ]:
gserach=GridSearchCV(model,params,cv=cval)

In [ ]:
results=gserach.fit(x_train,y_train)

In [ ]:
results.best_params_

{'n_neighbors': 5}

In [ ]:
results.best_score_

0.5738069078567085