In [ ]:
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv("Boston.csv")

In [ ]:
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
df_x=data.iloc[:,:12]
df_y=data.iloc[:,12]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=0)

In [ ]:
#rfe done for training data

In [ ]:
rfe=RFE(estimator=LinearRegression(),n_features_to_select=7)

In [ ]:
elm_fit=rfe.fit(x_train,y_train)

In [ ]:
elm_fit.n_features_

7

In [ ]:
elm_fit.support_

array([ True, False, False,  True,  True, False,  True,  True, False,
        True, False,  True])

In [ ]:
selected=df_x.columns[elm_fit.support_] # boolan masking

In [ ]:
df_x_sel=df_x[selected]
df_x_sel.head()

      crim    nox     rm     dis  rad  ptratio  lstat
0  0.00632  0.538  6.575  4.0900    1     15.3   4.98
1  0.02731  0.469  6.421  4.9671    2     17.8   9.14
2  0.02729  0.469  7.185  4.9671    2     17.8   4.03
3  0.03237  0.458  6.998  6.0622    3     18.7   2.94
4  0.06905  0.458  7.147  6.0622    3     18.7   5.33

In [ ]:
elm_fit.ranking_ #after 7 features whats most significance

array([1, 3, 2, 1, 1, 6, 1, 1, 4, 1, 5, 1])

In [ ]:
df_x_sel.values

array([[6.3200e-03, 5.3800e-01, 6.5750e+00, ..., 1.0000e+00, 1.5300e+01,
        4.9800e+00],
       [2.7310e-02, 4.6900e-01, 6.4210e+00, ..., 2.0000e+00, 1.7800e+01,
        9.1400e+00],
       [2.7290e-02, 4.6900e-01, 7.1850e+00, ..., 2.0000e+00, 1.7800e+01,
        4.0300e+00],
       ...,
       [6.0760e-02, 5.7300e-01, 6.9760e+00, ..., 1.0000e+00, 2.1000e+01,
        5.6400e+00],
       [1.0959e-01, 5.7300e-01, 6.7940e+00, ..., 1.0000e+00, 2.1000e+01,
        6.4800e+00],
       [4.7410e-02, 5.7300e-01, 6.0300e+00, ..., 1.0000e+00, 2.1000e+01,
        7.8800e+00]])

In [ ]:
df_y.values

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [ ]:
rfe.fit_transform(df_x,df_y) #get the result directly

array([[6.3200e-03, 5.3800e-01, 6.5750e+00, ..., 1.0000e+00, 1.5300e+01,
        4.9800e+00],
       [2.7310e-02, 4.6900e-01, 6.4210e+00, ..., 2.0000e+00, 1.7800e+01,
        9.1400e+00],
       [2.7290e-02, 4.6900e-01, 7.1850e+00, ..., 2.0000e+00, 1.7800e+01,
        4.0300e+00],
       ...,
       [6.0760e-02, 5.7300e-01, 6.9760e+00, ..., 1.0000e+00, 2.1000e+01,
        5.6400e+00],
       [1.0959e-01, 5.7300e-01, 6.7940e+00, ..., 1.0000e+00, 2.1000e+01,
        6.4800e+00],
       [4.7410e-02, 5.7300e-01, 6.0300e+00, ..., 1.0000e+00, 2.1000e+01,
        7.8800e+00]])

In [ ]:
#if we don't know how many feartures to be selected

In [ ]:
from sklearn.feature_selection import RFECV

In [ ]:
rfecv=RFECV(LinearRegression(),min_features_to_select=1,cv=10)

In [ ]:
rfecv.fit(df_x,df_y) # remeber to put entire dataset

RFECV(cv=10, estimator=LinearRegression())

In [ ]:
rfecv.n_features_

5

In [ ]:
rfecv.support_

array([False, False, False,  True,  True, False,  True, False, False,
        True, False,  True])

In [ ]:
selected=df_x.columns[rfecv.support_]

In [ ]:
df_x_new=df_x[selected]
df_x_new.head()

     nox     rm     dis  ptratio  lstat
0  0.538  6.575  4.0900     15.3   4.98
1  0.469  6.421  4.9671     17.8   9.14
2  0.469  7.185  4.9671     17.8   4.03
3  0.458  6.998  6.0622     18.7   2.94
4  0.458  7.147  6.0622     18.7   5.33

In [ ]:
df_x_new.values

array([[ 0.538 ,  6.575 ,  4.09  , 15.3   ,  4.98  ],
       [ 0.469 ,  6.421 ,  4.9671, 17.8   ,  9.14  ],
       [ 0.469 ,  7.185 ,  4.9671, 17.8   ,  4.03  ],
       ...,
       [ 0.573 ,  6.976 ,  2.1675, 21.    ,  5.64  ],
       [ 0.573 ,  6.794 ,  2.3889, 21.    ,  6.48  ],
       [ 0.573 ,  6.03  ,  2.505 , 21.    ,  7.88  ]])

In [ ]:
rfecv.fit_transform(df_x,df_y)

array([[ 0.538 ,  6.575 ,  4.09  , 15.3   ,  4.98  ],
       [ 0.469 ,  6.421 ,  4.9671, 17.8   ,  9.14  ],
       [ 0.469 ,  7.185 ,  4.9671, 17.8   ,  4.03  ],
       ...,
       [ 0.573 ,  6.976 ,  2.1675, 21.    ,  5.64  ],
       [ 0.573 ,  6.794 ,  2.3889, 21.    ,  6.48  ],
       [ 0.573 ,  6.03  ,  2.505 , 21.    ,  7.88  ]])